arrow==0.10.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.11
enum34==1.1.6
functools32==3.2.3.post2
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
nbformat==4.3.0
numpy==1.13.1
pandas==0.20.2
prompt-toolkit==1.0.14
python-dateutil==2.6.0
pytz==2017.2
seaborn==0.7.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
